<?xml version="1.0" encoding="UTF-8" ?>
<!--
 
  Leibniz Bioactives Cloud
  Copyright 2017 Leibniz-Institut f. Pflanzenbiochemie
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 
-->

<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="de.ipb_halle.lbac">
        <description>LBAC ui</description>

        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <jta-data-source>uiDS</jta-data-source>


        <class>de.ipb_halle.lbac.project.ProjectEntity</class>
        <class>de.ipb_halle.lbac.project.ProjectTemplateEntity</class>
        <class>de.ipb_halle.lbac.exp.Assay</class>
        <class>de.ipb_halle.lbac.exp.Experiment</class>
        <class>de.ipb_halle.lbac.exp.ExpRecord</class>
        <class>de.ipb_halle.lbac.exp.SOP</class>
        <class>de.ipb_halle.lbac.material.entity.MaterialEntity</class>
        <class>de.ipb_halle.lbac.material.entity.MaterialDetailRightEntity</class>
        <class>de.ipb_halle.lbac.material.entity.MaterialHistoryEntity</class>
        <class>de.ipb_halle.lbac.material.entity.index.IndexTypeEntity</class>
        <class>de.ipb_halle.lbac.material.entity.index.MaterialIndexHistoryEntity</class>      
        <class>de.ipb_halle.lbac.material.entity.index.MaterialIndexEntryEntity</class>        
        <class>de.ipb_halle.lbac.material.entity.hazard.HazardsMaterialsEntity</class>
        <class>de.ipb_halle.lbac.material.entity.hazard.HazardsMaterialHistEntity</class>
        <class>de.ipb_halle.lbac.material.entity.storage.StorageConditionHistoryEntity</class>
        <class>de.ipb_halle.lbac.material.entity.storage.StorageConditionStorageEntity</class>
        <class>de.ipb_halle.lbac.material.entity.storage.StorageClassHistoryEntity</class>
        <class>de.ipb_halle.lbac.material.entity.storage.StorageEntity</class>    
        <class>de.ipb_halle.lbac.material.entity.structure.StructureEntity</class>
        <class>de.ipb_halle.lbac.material.entity.structure.StructureHistEntity</class>
        <class>de.ipb_halle.lbac.material.entity.taxonomy.TaxonomyEntity</class>
        <class>de.ipb_halle.lbac.material.entity.taxonomy.TaxonomyHistEntity</class>
        <class>de.ipb_halle.lbac.material.entity.taxonomy.TaxonomyLevelEntity</class>
        <class>de.ipb_halle.lbac.entity.ACEntryEntity</class>
        <class>de.ipb_halle.lbac.entity.ACListEntity</class>
        <class>de.ipb_halle.lbac.entity.CloudEntity</class>
        <class>de.ipb_halle.lbac.entity.CloudNodeEntity</class>
        <class>de.ipb_halle.lbac.entity.CollectionEntity</class>
        <class>de.ipb_halle.lbac.entity.FileObjectEntity</class>
        <class>de.ipb_halle.lbac.entity.GroupEntity</class>
        <class>de.ipb_halle.lbac.entity.InfoObjectEntity</class>
        <class>de.ipb_halle.lbac.entity.MemberEntity</class>
        <class>de.ipb_halle.lbac.entity.MembershipEntity</class>
        <class>de.ipb_halle.lbac.entity.NestingPathEntity</class>
        <class>de.ipb_halle.lbac.entity.NestingPathSetEntity</class>
        <class>de.ipb_halle.lbac.entity.NodeEntity</class>
        <class>de.ipb_halle.lbac.entity.UserEntity</class>
        <class>de.ipb_halle.lbac.forum.TopicEntity</class>
        <class>de.ipb_halle.lbac.forum.PostingEntity</class>
        <class>de.ipb_halle.lbac.entity.TermVectorEntity</class>

        <class>de.ipb_halle.lbac.util.hibernatePG.types.JsonType</class>
        <class>de.ipb_halle.lbac.util.hibernatePG.types.ParametrizedJsonTypes</class>
        <class>de.ipb_halle.lbac.util.hibernatePG.types.RawJsonType</class>
        
        <class>de.ipb_halle.lbac.material.entity.StorageConditionHistoryEntity</class>
        <class>de.ipb_halle.lbac.material.entity.StorageConditionStorageEntity</class>
        <class>de.ipb_halle.lbac.material.entity.StorageClassHistoryEntity</class>
        <class>de.ipb_halle.lbac.material.entity.StorageEntity</class>
        <class>de.ipb_halle.lbac.items.entity.ContainerEntity</class>
        <class>de.ipb_halle.lbac.items.entity.ContainerNestingEntity</class>
        <class>de.ipb_halle.lbac.items.entity.ContainerTypeEntity</class>
        <class>de.ipb_halle.lbac.items.entity.ItemEntity</class>
        <class>de.ipb_halle.lbac.items.entity.ItemHistoryEntity</class>

        <exclude-unlisted-classes>true</exclude-unlisted-classes>

        <properties>

            <!-- extend hibernate dialect with json support -->
            <property name="hibernate.dialect" value="de.ipb_halle.lbac.util.hibernatePG.dialect.PostgreSQL94JsonDialect"/>
            <!-- property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/-->
            <property name="hibernate.connection.driver_class" value="org.postgresql.Driver"/>
            <!--
                        <property name="hibernate.hbm2ddl.auto" value="validate"/>
            -->

            <property name="tomee.jpa.cdi" value="false"/>

        </properties>

    </persistence-unit>
</persistence> 
