<?xml version="1.0" encoding="UTF-8"?>
<!--
  
  Leibniz Bioactives Cloud
  Copyright 2017 Leibniz-Institut f. Pflanzenbiochemie
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  
-->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>Leibniz Bioactives Cloud</description>
    <display-name>Leibniz Bioactives Cloud (UI and REST)</display-name>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
        <!--
            Comma separated list of URIs of (additional) faces configs files.
            (e.g. /WEB-INF/my-configs.xml)
            See JSF 1.0 PRD2, 10.3.2
        -->
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
        <!--
            State saving method: "client" or "server" (= default)
            See JSF Specification 2.5.2
        -->
    </context-param>
    <context-param>
        <param-name>document.search.enableDelayedPresentation</param-name>
        <param-value>false</param-value>
    </context-param>
    
    <!--
        Tells Bootsfaces to download the components (Datatable, JQuery, 
        CSS, ...) from CDN (true), leave this task to local html document 
        (false) or something else (custom)
    -->
    <context-param>
        <param-name>net.bootsfaces.get_datatable_from_cdn</param-name>
        <param-value>custom</param-value>
    </context-param>
    <context-param>
        <param-name>net.bootsfaces.get_jquery_from_cdn</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>net.bootsfaces.get_jqueryui_from_cdn</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.LIBRARIES</param-name>
        <param-value>/WEB-INF/nwc.taglib.xml</param-value>
    </context-param>
    <context-param>
        <param-name>net.bootsfaces.get_bootstrap_from_cdn</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>net.bootsfaces.get_fontawesome_from_cdn</param-name>
        <param-value>false</param-value>
    </context-param>

    <!-- debugging mode for jsf: set param to Development -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- file upload servlet incl. filter -->
    <servlet>
        <display-name>FileUpload Service</display-name>
        <servlet-name>FileUploadWebService</servlet-name>
        <servlet-class>de.ipb_halle.lbac.file.FileUploadWebService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadWebService</servlet-name>
        <url-pattern>/uploaddocs/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>FileUploadSecurityFilter</filter-name>
        <filter-class>de.ipb_halle.lbac.cloud.servlet.FileUploadSecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FileUploadSecurityFilter</filter-name>
        <servlet-name>FileUploadWebService</servlet-name>
        <url-pattern>/uploaddocs/*</url-pattern>
    </filter-mapping>
    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
        <!-- map external javascript ressources  -->
        <!-- see: faces-configs.xml -->
        <!-- see: http://showcase.omnifaces.org/resourcehandlers/UnmappedResourceHandler -->
        <url-pattern>/javax.faces.resource/*</url-pattern>
    </servlet-mapping>
    <!-- bootfaces theme -->
    <context-param>
        <param-name>BootsFaces_USETHEME</param-name>
        <param-value>default</param-value>
    </context-param>
    <context-param>
        <param-name>BootsFaces_THEME</param-name>
        <param-value>simplex</param-value>
    </context-param>
    <!-- primefaces theme -->
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
    <!-- add new mime types for bootstrap fonts and javascript extensions -->
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>otf</extension>
        <mime-type>font/opentype</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/x-font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>json</extension>
        <mime-type>application/json</mime-type>
    </mime-mapping>
    <!-- Activates the waitcursor and the double-click protection -->
    <context-param>
        <param-name>net.bootsfaces.blockUI</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- html5 friendly markup -->
    <context-param>
        <param-name>javax.faces.FACELETS_DECORATORS</param-name>
        <param-value>net.bootsfaces.decorator.BootsFacesTagDecorator</param-value>
    </context-param>
    <context-param>
        <param-name>net.bootsfaces.defaults.decorator</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- Document Servlet -->
    <servlet>
        <servlet-name>DocumentServlet</servlet-name>
        <servlet-class>de.ipb_halle.lbac.cloud.servlet.DocumentServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocumentServlet</servlet-name>
        <url-pattern>/servlet/document/*</url-pattern>
    </servlet-mapping>
    <!-- Welcome files -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>wordCloudWebClient</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#WordCloudWebClient</ejb-link>
    </ejb-local-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>persistence/lbac</persistence-context-ref-name>
        <persistence-unit-name>de.ipb_halle.lbac</persistence-unit-name>
    </persistence-context-ref>
    <!-- Authentication / Login -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>authentication required</realm-name>
        <form-login-config>
            <form-login-page>/WEB-INF/templates/login.xhtml</form-login-page>
            <form-error-page>/access_denied.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Pages</web-resource-name>
            <url-pattern>/protected/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>role-admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>role-admin</role-name>
    </security-role>
    <!-- Session timeout, set to 20 minutes -->
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <!-- error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/expired.xhtml</location>
    </error-page>
</web-app>
