openapi: 3.0.3
info:
  title: CRIMSy API
  version: 1.1.0

security:
  - SessionKeyAuthentication: []
servers:
  - url: https://compchem17.ipb-halle.de/ui/rest
    description: Production API server

paths:
  
  /auth/login:
    post:
      tags:
        - Login
        - Authentication        
      summary: Log in a user
      description: Authenticates a user with the provided login credentials.
      operationId: login
      security: []
      requestBody:
        description: User login credentials
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Unauthorized login attempt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Invalid input or missing parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
 
  /auth/logout:
    post:
      tags:
        - Authentication
        - Logout
      summary: Logout the current user
      description: Invalidates the user's session and deletes the token from database.
      operationId: logout
      responses:
        '200':
          description: Successfuly loged out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutResponse'
        '401':
          description: Unauthorized request (invalid or missing token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
   
  /me:
    get:
      tags:
        - Authorization
        - Role
      summary: Get role and group information of the current user
      description: |
        Returns the authenticated user's username, group memberships,
        and whether the user belongs to the Admin Group.
      operationId: getRoleInfo
      responses:
        '200':
          description: Role and group information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
        '401':
          description: Unauthorized (missing or invalid token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      
  /users:
    get:
      tags: 
        - Users
      summary: Get list of users
      description: Returns all users for admin, or own info for non-admin users
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: Page number (1-based)
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 3
          description: Number of users per page
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedUsers'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
               
  /search:
    post:
      tags:
        - search
      summary: Unified search endpoint
      description: |
        Performs search across Materials, Items, Experiments and Documents.  
        If "Materials" is included in searchTypes, materialTypes may be provided 
        (Structure, Sequence, Biomaterial, Composition).       
        All values are currently treated as string (for being simple as possible).
      operationId: search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Invalid search request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
 
        
components:

  securitySchemes:
    SessionKeyAuthentication:
      type: http
      scheme: bearer
      bearerFormat: UUID
      description: Session key authentication using a custom header.
      
  schemas:

    ErrorResponse:
      type: object
      required: 
        - message
      properties:
        message:
          type: string
        code:
          type: string

    LoginRequest:
      type: object
      required:
        - login
        - password
      properties:
        login:
          type: string
          description: Username
          example: johndoe
        password:
          type: string
          description: Password
          example: password123
  
    AuthResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
        username:
          type: string
        token:
          type: string
          description: Bearer token for authentication        
        expiresInSeconds:
          type: integer
          description: Session validity duration in seconds
        

    LogoutResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          example: "Logged out successfully"

    PagedUsers:
      type: object
      required:
        - totalUsers
        - totalPages
        - currentPage
        - users
      properties:
        totalUsers:
          type: integer
        totalPages:
          type: integer
        currentPage:
          type: integer
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
          
    User:
      type: object
      properties:
        id:
          type: string
        login:
          type: string
        name:
          type: string
        membertype:
          type: string

    RoleResponse:
      type: object
      required:
        - username
        - groups
        - admin
      properties:
        username:
          type: string
          example: johndoe
        groups:
          type: array
          items:
            type: string
          example:
            - Users
            - Admin Group
        admin:
          type: boolean
          description: Indicates whether the user belongs to the Admin Group
          example: true
          
    SearchRequest:
      type: object
      properties:
        searchTypes:
          type: array
          description: |
            Selected top-level search domains
            Examples: Materials, Items, Experiments, Documents
          items:
            $ref: '#/components/schemas/SearchType'
        materialTypes:
          type: array
          description: |
            Only used when Materials is selected
            Examples: Structure, Sequence, Biomaterial, Composition
          items:
            $ref: '#/components/schemas/MaterialType'
        query:
          type: string
          description: Free-text search query
          example: benzin
        page:
          type: integer
          default: 1
        pageSize:
          type: integer
          default: 3
        
    SearchResponse:
      type: object
      properties:
        total:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'

    SearchResult:
      type: object
      properties:
        domain:
          $ref: '#/components/schemas/SearchType'
          description: Materials, Items, Experiments, or Documents
          example: Materilas         
        subtype:
          $ref: '#/components/schemas/MaterialType'
          nullable: true
          description: Material subtype when applicable
          example: Structure
        id:
          type: string
        label:
          type: string
   
    SearchType:
      type: string
      enum:
        - Materials
        - Items
        - Experiments
        - Documents
        - NONE
        
    MaterialType:
      type: string
      enum:
        - Structure
        - Sequence
        - Biomaterial
        - Composition
        - NONE