openapi: 3.0.3
info:
  title: CRIMSy API
  version: 1.0.0
  description: |
    API specification for managing research materials, users, authentication,
    search capabilities, administration workflows, and audit logging.
    Designed for integration with React frontends and Java/Jakarta backend services.

servers:
  - url: https://compchem17.ipb-halle.de/ui/rest
    description: Production API server

tags:
  - name: Auth
    description: Authentication and session management
  - name: Users
    description: User administration and profile management
  - name: Materials
    description: Material registry and metadata management
  - name: MME
    description: Material management environment system overview
  - name: Search
    description: Advanced multi-domain search functionality
  - name: Admin
    description: Administrative operations for system management
  - name: Export
    description: Data export in various formats
  - name: AuditLogs
    description: System audit logs and activity tracking

paths:
  
  /auth/login:
    post:
      tags:
        - Auth
      summary: Authenticate user and create session
      description: |
        Validates user credentials and returns a session token.
        On success, a bearer token is returned. The token must be
        included in all subsequent requests using the Authorization header.
      operationId: login
      security: []
      requestBody:
        description: User login credentials
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthToken"
        "401":
          description: Invalid username and/or passowrd
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/logout:
    post:
      tags:
        - Auth
      summary: Logout current user & end user session
      description: Invalidates the user's session and deletes the token from database.
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successfully logged out
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/LogoutResponse"
        "401":
          description: Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/me:
    get:
      tags:
        - Auth
      summary: Retrieve authenticated user information
      description: |
        Returns the authenticated user's role information and group memberships.
        This endpoint is used by the frontend to determine access permissions.
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Authenticated user information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthUser"
        "401":
          description: Unauthorized (missing or invalid token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  
  /users:
    get:
      tags:
        - Users
      summary: Retrieve list of all users
      description: |
        Returns all users from the system with basic details.
        Useful for populating user lists in the frontend.
      operationId: getUsersList
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number (starts from 1)
          required: false
          schema: 
            type: integer
            default: 1
            minimum: 1
        - name: pageSize
          in: query
          description: Number of users per page
          required: false
          schema: 
            type: integer
            default: 10
            minimum: 1 
            maximum: 100
      responses:
        "200":
          description: Array of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserSummary"
        "401":
          description: Unauthorized (missing or invalid token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  
components:
  
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: UUID
      description: |
        Authentication via Bearer token.
        The token is obtained from /auth/login and sent as:
        Authorization: Bearer 9c1f82e6-bdf1-4a8a-8c88-74eecdc4a999

  schemas:
 
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          minLength: 5
          maxLength: 50
          pattern: '^[a-zA-Z0-9]+$' # only alphanumeric
          description: User login name
          example: johndoe
        password:
          type: string
          minLength: 5
          description: User password
          example: password123

    AuthToken:
      type: object
      required:
        - token
        - expiresInSeconds
      properties:
        token:
          type: string
          description: Token
          example: "550e8400-e29b-41d4-a716-446655440000"
        expiresInSeconds:
          type: integer
          description: Session validity duration in seconds
          example: 3600

    AuthUser:
      type: object
      required:
        - id
        - username
      properties:
        id: 
          type: integer
          description: Unique user ID
          example: 42
        username:
          type: string
          description: User login name
          example: johndoe
        name:
          type: string
          description: Full name
          example: John Doe
        email:
          type: string
          format: email
          example: john.doe@example.com
        groups:
          type: array
          items:
            type: string
          example:
            - Users
            - Admin Group
        admin:
          type: boolean
          description: Indicates whether the user belongs to the Admin Group
          example: true
        
    UserSummary:
      type: object
      required:
        - id
        - login
      properties:
        id: 
          type: integer
          description: User ID
          example: 1
        login:
          type: string
          description: User login
          example: jdoe
        name:
          type: string
          description: Full name
          example: John Doe
        email:
          type: string
          format: email
          description: Email address
          example: john.doe@example.com
        groups:
          type: array
          items:
            type: string
          example:
            - Users
            - Admin Group
        admin:
          type: boolean
          description: Indicates whether the user belongs to the Admin Group
          example: true
   
    PaginatedUserResponse:
      type: object
      required:
        - items
        - totalItems
        - totalPages
        - currentPage
      properties:
        items: 
          type: array
          items:
            $ref: "#/components/schemas/UserSummary"
        totalItems:
          type: integer
          description: Total number of users in the system
          example: 245
        totalPages:
          type: integer
          description: Total number of pages
          example: 13
        currentPage:
          type: integer
          description: Current page number
          example: 1
    
    LogoutResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          example: "Logged out successfully"
       
    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          example: Unauthorized request
        code:
          type: string
          example: AUTH_401

    