html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}



@media (max-width: 768px) {
  .App>.content {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .Footer {
    text-align: center;
  }

  .Footer div {
    width: 100%;
  }
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}*/

.App>.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.Footer {
  flex-shrink: 0;
}